body {
    background-image: linear-gradient(antiquewhite, grey);
  background-repeat: no-repeat;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.red {
  color: antiquewhite;
  background-image: linear-gradient(red, #841617);
  border-radius: 5px;
}
.orange {
  color: #0a1195;
  background-image: linear-gradient(orange, #cc5500);
  border-radius: 5px;
}
.yellow {
  color: #00703c;
  background-image: linear-gradient(yellow, #daa520);
  border-radius: 5px;
}
.green {
  color: beige;
  background-image: linear-gradient(#65ff00, green);
  border-radius: 5px;
}
.blue {
  color: #e6d0ab;
  background-image: linear-gradient(#0048ba, blue);
  border-radius: 5px;
}
.indigo {
  color: antiquewhite;
  background-image: linear-gradient(#360ccc, #4b0082);
  border-radius: 5px;
}
.purple {
  color: antiquewhite;
  background-image: linear-gradient(purple, #512888);
  border-radius: 5px;
}
.beach {
  color: gold;
  background-image: linear-gradient(#0078d7, antiquewhite);
  border-radius: 5px;
}
.dessert {
  color: black;
  background-image: linear-gradient(blue, green, #edc9af);
  border-radius: 5px;
}
.ou {
  background-image: linear-gradient(#841617, #ffffbf);
  border-radius: 5px;
}

.ou1 {
  background-image: linear-gradient(#ffffbf, #841617);
  border-radius: 5px;
}


/* background gradients designed from 2003 powerpoint */
.earlysunset{
    color: antiquewhite;
    background-image: linear-gradient(
    darkblue,
    rgb(85, 0, 85),
    rgb(167, 12, 133),
    red,
    orange);
    border-radius: 5px;
}
.latesunset{
    color: antiquewhite;
    background-image: linear-gradient(
    black, 
    rgb(0,0,64), 
    rgb(64, 0, 64), 
    rgb(143, 0, 64),
    rgb(242, 115, 0),
    rgb(255, 191, 0)
    );
    border-radius: 5px;
}
.nightfall {
    color: antiquewhite;
    background-image: linear-gradient(
        black, 
        darkblue, 
        blue, 
        purple, 
        rgb(140, 61, 145)
        );
    border-radius: 5px;
}
.horizon {
    color: black;
    background-image: linear-gradient(
        white, 
        lightblue,
        #614051,
        lightblue,
        white,
        lightblue,
        maroon,
        darkred,
        white
    );
    border-radius: 5px;
}
.desert{
  color: darkblue;
  background-image: linear-gradient(
    pink,
    rgb(207, 146, 55) 13%,
    rgb(248, 190, 104)21%,
    white 63%,
    rgb(197, 8, 73) 67%,
    rgb(180, 62, 133) 82%,
    rgb(248, 176, 73)
  );
  border-radius: 5px;
}
.ocean {
  color: antiquewhite;
  background-image: linear-gradient(
    rgb(3, 212, 168),
    rgb(13, 213, 187) 8%,
    rgb(33, 214, 224) 25%,
    rgb(0, 135, 230) 75%,
    rgb(0, 92, 191)
  );
  border-radius: 5px;
}
.calmwater {
  color: darkslategray;
  background-image: linear-gradient(
    rgb(204, 204, 255),
    rgb(153, 204, 255) 18%,
    rgb(153, 102, 255) 36%,
    rgb(204, 153, 255) 61%,
    rgb(153, 204, 255) 82%,
    rgb(204, 204, 255)
    );
  border-radius: 5px;
  
}
.fire {
  color: black;
  background-image: linear-gradient(
    rgb(255, 242, 0),
    rgb(255, 122, 0) 45%,
    rgb(255, 3, 0) 70%,
    rgb(77, 8, 8) 
  );
  border-radius: 5px;
}
.fog {
  background-image: linear-gradient(
    rgb(132, 136, 196),
    rgb(212, 222, 255) 55%,
    rgb(212, 222, 255) 83%,
    rgb(150, 171, 148)
  );
  border-radius: 5px;
}
.moss {
  color: darkslategray;
  background-image: linear-gradient(
    rgb(221, 235, 207),
    rgb(156, 184, 110) 50%,
    rgb(21, 107, 19)
  );
  border-radius: 5px;
}
.peacock {
  color: antiquewhite;
  background-image: linear-gradient(
    rgb(51, 153, 255),
    rgb(0, 204, 204) 16%,
    rgb(153, 153, 255) 43%,
    rgb(46, 103, 146) 60%,
    rgb(51, 51, 204) 71%,
    rgb(17, 112, 255) 81%,
    rgb(0, 102, 153) 
  );
  border-radius: 5px;
}
.wheat {
  color: rgb(46, 46, 46);
  background-image: linear-gradient(
    rgb(251, 234, 199),
    rgb(254, 231, 242) 18%,
    rgb(250, 199, 125) 36%,
    rgb(251, 169, 125) 61%,
    rgb(251, 212, 156) 82%,
    rgb(254, 231, 242)
  );
  border-radius: 5px;
}
.parchment {
  color:rgb(46, 46, 46);
  background-image: linear-gradient(
    rgb(255, 239, 209),
    rgb(240, 235, 213) 65%,
    rgb(209, 195, 159)
  );
  border-radius: 5px;
}
.mahogany {
  color: rgb(56, 0, 0);
  background-image: linear-gradient(
    rgb(214, 177, 156),
    rgb(212, 158, 108) 30%,
    rgb(166, 85, 40) 70%,
    rgb(102, 48, 18)
  );
  border-radius: 5px;
}
.rainbow1 {
  color: antiquewhite;
  background-image: linear-gradient(
    rgb(166, 3, 171),
    rgb(8, 25, 251) 21%,
    rgb(26, 141, 72) 35%,
    rgb(255, 255, 0) 52%,
    rgb(238, 63, 23) 73%,
    rgb(232, 23, 102) 88%,
    rgb(166, 3, 171)
  );
  border-radius: 5px;
}
.rainbow2 {
  color: antiquewhite;
  background-image: linear-gradient(
    rgb(255, 51, 153),
    rgb(255, 102, 51) 25%,
    rgb(255, 255, 0) 50%,
    rgb(1, 167, 143) 75%,
    rgb(51, 102, 255)
  );
  border-radius: 5px;
}
.gold {
  color: rgb(46, 46, 46);
  background-image: linear-gradient(
    rgb(230, 220, 172),
    rgb(230, 215, 138) 12%,
    rgb(199, 172, 76) 30%,
    rgb(230, 215, 138) 45%,
    rgb(199, 172, 76),
    rgb(230, 220, 172)
  );
  border-radius: 5px;
}
.gold2 {
  color: rgb(46, 46, 46);
  background-image: linear-gradient(
    rgb(251, 228, 174),
    rgb(189, 146, 42) 13%,
    rgb(189, 146, 42) 21%,
    rgb(251, 228, 174) 63%,
    rgb(189, 146, 42) 67%,
    rgb(131, 94, 23) 69%,
    rgb(162, 137, 73) 82%,
    rgb(250, 227, 183)
  );
  border-radius: 5px;
}
.brass {
  color: lemonchiffon;
  background-image: linear-gradient(
    rgb(130, 86, 0),
    rgb(255, 168, 0) 13%,
    rgb(130, 86, 0) 28%,
    rgb(255, 168, 0) 43%,
    rgb(130, 86, 0) 58%,
    rgb(255, 168, 0) 72%,
    rgb(130, 86, 0) 87%,
    rgb(255, 168, 0)
  );
  border-radius: 5px;
}
.chrome {
  color: black;
  background-image: linear-gradient(
    white,
    black 16%,
    white 18%,
    rgb(99, 99, 99) 42%,
    rgb(207, 207, 207) 53%,
    rgb(207, 207, 207) 66%,
    black 76%,
    white 79%,
    rgb(127, 127, 127)
  );
  border-radius: 5px;
}
.chrome2 {
  color: black;
  background-image: linear-gradient(
    rgb(203, 203, 203),
    rgb(95, 95, 95) 13%,
    rgb(95, 95, 95) 21%,
    white 63%,
    rgb(178, 178, 178) 67%,
    black 69%,
    rgb(119, 119, 119) 82%,
    rgb(234, 234, 234)
  );
  border-radius: 5px;
}
.silver {
  color: darkblue;
  background-image: linear-gradient(
    white,
    rgb(230, 230, 230) 7%,
    rgb(125, 132, 150) 32%,
    rgb(230, 230, 230) 47%,
    rgb(125, 132, 150) 85%,
    rgb(230, 230, 230)
  );
  border-radius: 5px;
}
.sapphire {
  color: antiquewhite;
  background-image: linear-gradient(
    rgb(0, 0, 130),
    rgb(0, 71, 255) 13%,
    rgb(0, 0, 130) 28%,
    rgb(0, 71, 255) 43%,
    rgb(0, 0, 130) 58%,
    rgb(0, 71, 255) 72%,
    rgb(0, 0, 130) 87%,
    rgb(0, 71, 255)
  );
  border-radius: 5px;
}
.blueness {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
}
.xtrablue{
  color: antiquewhite;
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
    border-radius: 5px;

}
.black-radial {
  color: #00b140;
  background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, #000000 0%, rgb(20, 20, 20) 100%);
  height: fit-content;
}
.santasbag {
  color: lemonchiffon;
  background-image: linear-gradient(
  black, 
  #841617,
  black
  );
  border-radius: 5px;
}
.winter {
  color: antiquewhite;
  background-image: linear-gradient(
    rebeccapurple,
    lightblue,
    white
  );
  border-radius: 5px;
}
.strawberrycheesecake {
  color: darkslategray;
  background-image: linear-gradient(
    antiquewhite,
    antiquewhite 56%,
    red
  );
  border-radius: 5px;
}
/* tractors */
.tractor {
  color: black;
  background-color: antiquewhite;
  border-radius: 5px;
}
.massey-ferg {
  color: antiquewhite;
  background-image: linear-gradient(90deg, #e51032, #9f041d);
  border-radius: 5px;
}
.johndeere {
  color: #fde100;
  background-image: linear-gradient(
    135deg, 
    #367c2b 20%,
    #fde100);
    border-radius: 5px;
}
.newholland {
  color: lemonchiffon;
  background-image: linear-gradient(#074cd1, #021947);
  border-radius: 5px;
}
.kubota {
  color: antiquewhite;
  background-image: linear-gradient(#fe5722, #c91600);
  border-radius: 5px;
}
.case {
  color: antiquewhite;
  background-image: linear-gradient(#8d1219, #500203);
  border-radius: 5px;
}

/* birth stones */
.garnet {
  color: antiquewhite;
  background-image: linear-gradient(#733635, #5c2b2a);
  border-radius: 5px;
}
.amethyst {
  color: lemonchiffon;
  background-image: linear-gradient(#9966cc, #331856);
  border-radius: 5px;
}
.aquamarine {
  color: darkslategray;
  background-image: linear-gradient(#7fffd4, #33ffba);
  border-radius: 5px;
}
.diamond {
  color: darkslategray;
  background-image: linear-gradient(#b9f2ff, #61e2ff);
  border-radius: 5px;
}
.emerald {
  color: antiquewhite;
  background-image: linear-gradient(#046307, #034f06);
  border-radius: 5px;
}
.pearl {
  color: darkblue;
  background-image: linear-gradient(#ffffff, #eae0c8);
  border-radius: 5px;
}
.ruby {
  color: antiquewhite;
  background-image: linear-gradient(#9b111e, #8d1219);
  border-radius: 5px;
}
.peridot {
  color: lemonchiffon;
  background-image: linear-gradient(#acdf7d, #93e646);
  border-radius: 5px;
}
.sapphire1 {
  color: lemonchiffon;
  background-image: linear-gradient(#0f52ba, #0018a1);
  border-radius: 5px;
}
.opal {
  color: darkslategray;
  background-image: linear-gradient(#a8c3bc, #7da59b);
  border-radius: 5px;
}
.topaz {
  color: rgb(56, 0, 0);
  background-image: linear-gradient(#ffc87c, #8f573f);
  border-radius: 5px;
}
.turquoise {
  color: antiquewhite;
  background-image: linear-gradient(#40e0d0, #00b3a1);
  border-radius: 5px;
}
.arizona {
  color: antiquewhite;
  background-image: linear-gradient(#97233f 50%, white 70%);
  border-radius: 5px;
}
.atlanta {
  color: antiquewhite;
  background-image: linear-gradient(#a71930 50%, black 70%);
  border-radius: 5px;
}
.baltimore {
  color: antiquewhite;
  background-image: linear-gradient(#241773 50%, black 70%);
  border-radius: 5px;
}
.buffalo {
  color: antiquewhite;
  background-image: linear-gradient(#00338d 50%, #c60c30 70%);
  border-radius: 5px;
}
.carolina {
  color: antiquewhite;
  background-image: linear-gradient(#0085ca 50%, black 70%);
  border-radius: 5px;
}
.chicago {
  color: antiquewhite;
  background-image: linear-gradient(#0b162a 50%, #c83803 70%);
  border-radius: 5px;
}
.cincinatti {
  color: antiquewhite;
  background-image: linear-gradient(#fb4f14 50%, black 70%);
  border-radius: 5px;
}
.cleveland {
  color: antiquewhite;
  background-image: linear-gradient(#311d00 50%, #ff3c00 70%);
  border-radius: 5px;
}
.dallas {
  color: antiquewhite;
  background-image: linear-gradient(#002244 50%, #b0b7bc 70%);
  border-radius: 5px;
}
.denver {
  color: antiquewhite;
  background-image: linear-gradient(#002244 50%, #fb4f14 70%);
  border-radius: 5px;
}
.detroit {
  color: antiquewhite;
  background-image: linear-gradient(#0076b6 50%, #b0b7bc 70%);
  border-radius: 5px;
}
.greenbay {
  color: antiquewhite;
  background-image: linear-gradient(#203731 50%, #ffb612 70%);
  border-radius: 5px;
}
.houston {
  color: antiquewhite;
  background-image: linear-gradient(#03202f 50%, #a71930 70%);
  border-radius: 5px;
}
.indianapolis {
  color: antiquewhite;
  background-image: linear-gradient(#002c5f 50%, white 70%);
  border-radius: 5px;
}
.jacksonville {
  color: antiquewhite;
  background-image: linear-gradient(#006778 50%, #9f792c 70%);
  border-radius: 5px;
}
.kansascity {
  color: antiquewhite;
  background-image: linear-gradient(#e31837 50%, white 70%);
  border-radius: 5px;
}
.lachargers {
  color: antiquewhite;
  background-image: linear-gradient(#0073cf 50%, #ffb612 70%);
  border-radius: 5px;
}
.larams {
  color: antiquewhite;
  background-image: linear-gradient(#002244 50%, white 70%);
  border-radius: 5px;
}
.miami {
  color: antiquewhite;
  background-image: linear-gradient(#008e97 50%, #fc4c02 70%);
  border-radius: 5px;
}
.minnesota {
  color: antiquewhite;
  background-image: linear-gradient(#4f2683 50%, #ffc62f 70%);
  border-radius: 5px;
}
.newengland {
  color: antiquewhite;
  background-image: linear-gradient(#002244 50%, #c60c30 70%);
  border-radius: 5px;
}
.neworleans {
  color: antiquewhite;
  background-image: linear-gradient(#d3bc8d 50%, black 70%);
  border-radius: 5px;
}
.newyorkgiants {
  color: antiquewhite;
  background-image: linear-gradient(#0b2265 50%, #a71930 70%);
  border-radius: 5px;
}
.newyorkjets {
  color: antiquewhite;
  background-image: linear-gradient(#203731 50%, white 70%);
  border-radius: 5px;
}
.lasvegas {
  color: antiquewhite;
  background-image: linear-gradient(#a5acaf 50%, black 70%);
  border-radius: 5px;
}
.philadelphia {
  color: antiquewhite;
  background-image: linear-gradient(#004c54 50%, white 70%);
  border-radius: 5px;
}
.pittsburgh {
  color: antiquewhite;
  background-image: linear-gradient(#ffb612 50%, black 70%);
  border-radius: 5px;
}
.sanfrancisco {
  color: antiquewhite;
  background-image: linear-gradient(#aa0000 50%, #b3995d 70%);
  border-radius: 5px;
}
.seattle {
  color: antiquewhite;
  background-image: linear-gradient(#002244 50%, #69be28 70%);
  border-radius: 5px;
}
.tampabay {
  color: antiquewhite;
  background-image: linear-gradient(#d50a0a 50%, #34302b 70%);
  border-radius: 5px;
}
.tennessee {
  color: antiquewhite;
  background-image: linear-gradient(#002244 50%, #4b92db 70%);
  border-radius: 5px;
}
.washington {
  color: antiquewhite;
  background-image: linear-gradient(#5a1414 50%, #ffb612 70%);
  border-radius: 5px;
}
.bedlambay {
  color: lemonchiffon;
  background-image: radial-gradient( circle farthest-corner at 21.5% 28.1%, #000000 0%, #841617 150%);
  border-radius: 5px;
}
.navbar {
  color: #36424c;
  background-image: linear-gradient( rgb(20, 20, 20), black);
  border-radius: 2px;
  /* display: flex; */
  /* flex-direction: row; */
  margin-left: 15px;
  margin-top: 15px;
}
#contentbox {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tarheels{
  color: black;
  background-image: linear-gradient(#7bafd4, #13294b);
  border-radius: 5px;
}
.redbtn {
    height: 50px;
    width: 200px;
    color: antiquewhite;
    background-image: linear-gradient(red, darkred);
    border-radius: 15px;
    font-size: 20px;
    border-color: red;
    font-weight: bolder;
}
.orangebtn {
    height: 50px;
    width: 200px;
    color: antiquewhite;
    background-image: linear-gradient(orange, darkorange);
    border-radius: 15px;
    font-size: 20px;
    border-color: orange;
    font-weight: bolder;
}
.yellowbtn {
    height: 50px;
    width: 200px;
    color: #006a4e;
    background-image: linear-gradient(yellow, goldenrod);
    border-radius: 15px;
    font-size: 20px;
    border-color: yellow;
    font-weight: bolder;
}
.greenbtn {
    height: 50px;
    width: 200px;
    color: antiquewhite;
    background-image: linear-gradient(#32cd32, forestgreen);
    border-radius: 15px;
    font-size: 20px;
    border-color: #32cd32;
    font-weight: bolder;
}
.bluebtn {
    height: 50px;
    width: 200px;
    color: antiquewhite;
    background-image: linear-gradient(#0048ba, blue);
    border-radius: 15px;
    font-size: 20px;
    border-color: #0048ba;
    font-weight: bolder;
}
.indigobtn {
    height: 50px;
    width: 200px;
    color: antiquewhite;
    background-image: linear-gradient(#360ccc, #4b0082);
    border-radius: 15px;
    font-size: 20px;
    border-color: #0048ba;
    font-weight: bolder;
}
.purplebtn {
    height: 50px;
    width: 200px;
    color: antiquewhite;
    background-image: linear-gradient(purple, #512888);
    border-radius: 15px;
    font-size: 20px;
    border-color: #512888;
    font-weight: bolder;

}
.midnight {
    height: 50px;
    width: 200px;
    background-image: linear-gradient(darkblue, black);
    color: antiquewhite;
    border-radius: 15px;
    font-size: larger;
    border: 1px solid blue;
}
.fire {
    height: 50px;
    width: 200px;
    background:
        linear-gradient(217deg, rgba(255, 8, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 166, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(255, 255, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
    color: black;
    border-radius: 15px;
    font-size: larger;
    border: none;
}
.water {
    height: 50px;
    width: 200px;
    background:
        linear-gradient(217deg, rgba(0, 183, 255, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 9, 139, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    color: antiquewhite;
    border-radius: 15px;
    font-size: larger;
    border: none;
}
.antique-crimson {
    height: 50px;
    width: 200px;
    background:
        linear-gradient(217deg, rgba(148, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 247, 180, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(32, 32, 32, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 15px;
    font-size: larger;
    border: none;
}
.redgreenblue {
    height: 50px;
    width: 200px;
    background:
        linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 15px;
    font-size: larger;
    border: none;
}

.Oklahoma{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(148, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 247, 180, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(32, 32, 32, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;    
}
.Texas{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(191, 87, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(51, 63, 72, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.Baylor{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(21, 71, 52, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 184, 28, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.IowaState{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(200, 16, 46, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(241, 190, 72, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.Kansas{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(0, 81, 186, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(232, 0, 13, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(137, 137, 138, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.KansasState{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(81, 40, 136, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(209, 209, 209, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.OklahomaState{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(255, 124, 25, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgba(0, 255, 0, 0) 70.71%);
    border-radius: 5px;
}
.TCU{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(77, 25, 121, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(164, 189, 173, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.TexasTech{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(204, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 0, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}
.WestVirginia{
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(0, 40, 85, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(234, 170, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5px;
}